@font-face {
  font-family: satoshi;
  src: url(./static/Satoshi-Black.woff2);
}

html,
body {
  background-color: black;
  margin: 0;
  font-family: "satoshi";
}

.sections {
  display: flex;
  flex-direction: column;
  margin: 35% 20px;
  gap: 500px;
}
.section {
  font-size: 80px;
  color: white;
}
.s2 {
  text-align: right;
}
